@use './variables' as *;

ul, 
ol{
    list-style: none;
    padding-left: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img,
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
}

