@use './variables' as *;

footer{
    background-color: $primary;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    p{
        margin: 0;
    }

    a:hover,
    a:focus{
        color: $quinary;
    }
}