@use './variables' as *;

.gallery-header .wrapper{
    position: relative;
}
.fa-bone{
    bottom: 50px;
    left: 70px;
    rotate: (35deg);
    position: absolute;
    color: $quaternary;
}

.gallery-section .wrapper{
    display: flex;
    justify-content: space-between;
}

.timeline{
    flex-basis: 15%;
    text-align: center;
    h3{
        margin: 0;
        position: relative;
        top: 50px;
    }
}

button {
    border: none;
    cursor: pointer;
    background:none;
    .fa-paw{
        -webkit-text-stroke: 2px $quaternary;
        -webkit-text-fill-color: transparent;

        &:hover,
        &:focus
        {
            background-color: $quaternary;
            background-clip: text;
        }
    }
    .paw-select,
    h3:hover ~ i,
    &:focus .fa-paw{
        background-color: $quaternary;
        background-clip: text;
    }
}

.gallery{
    flex-basis: 80%;
    div {
        display: none;
        position: relative;
        z-index: -1;
        height: 1400px;
        
        ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        li{
            flex-basis: 33%;
        }
        img{
            object-fit: contain;
        }
    }
    .div-select{
        display: block;
    }
    .div-up-in{
        display: block;
        animation: 
            slide-up-in 0.5s forwards,
            fade-in 0.5s forwards;
    }
    .div-up-out{
        display: block;
        animation: 
            slide-up-out 0.5s forwards,
            fade-out 0.5s forwards;
    }
    .div-down-in {
        display: block;
        animation: 
            slide-down-in 0.5s forwards,
            fade-in 0.5s forwards;
    }
    .div-down-out {
        display: block;
        animation: 
            slide-down-out 0.5s forwards,
            fade-out 0.5s forwards;
    }
}

@keyframes slide-up-in{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}

@keyframes slide-up-out {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes slide-down-in {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down-out {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

