/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .header-photo{
        flex-basis: 55%;
    }

    .about .wrapper{
        flex-direction: column;
        align-items: center;
    }

    ol{
        overflow-x: auto;
    }

    .modal{
        width: 80%;
        max-width: 100vh;
    }

    .left-arrow{
        left: calc(50% - 40vw - 70px);
    }

    .right-arrow{
        left: calc(50% + 40vw );
    }

    h5{
        font-size: 2rem;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .index-header .wrapper{
        flex-direction: column;
    }

    .header-photo{
        order: -1;
        padding-left: 10px;
        margin-bottom: 60px;
    }

    .timeline{
        justify-content: space-between;
    }

    ol{
        overflow-x: hidden;
    }

    .chevron{
        display: inline-block;
    }

    .left-arrow{
        bottom: 2vh;
        height: 100px;
        left: 14%;
    }

    .right-arrow{
        bottom: 2vh;
        height: 100px;
        left: calc(86% - 68px);
    }
    
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .gallery li {
            flex-basis: 49%;
    }

    h1{
        font-size: 5rem;
        margin-bottom: 100px;
    }

    .modal{
        padding: 28px;
        overflow-x: hidden;
        top: 45%;
        max-height: 75vh;

        button{
            top: -4px;
            right: -4px;
        }
    }
}