@use './variables' as *;

.about{
    padding: 50px 0;
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.about-image{
    flex-basis: 35%;
    img{
        border-radius: 10%;
        box-shadow: 2px 2px #fff, 10px 10px $quinary;
    }
}
.about-text{
    flex-basis: 60%;
}