@use './variables' as *;

html {
    font-family: $baseFont;
    color: $secondary;
    font-size: 125%;
}

h1{
    font-family: $titleFont;
    font-size: 6rem;
}

h2{
    font-family: $headerFont;
    font-size: 3rem;
}

h5{
    font-family: $headerFont;
    font-size: 2.5rem;
}

a{
    text-decoration: none;
    color: $secondary;
}

