$primary: #f0f7ee;
$secondary: #0C0C0C;
$tertiary: #DC2A27;
$quaternary: #FCBA04;
$quinary: #1B998B;
$baseFont: 'Frank Ruhl Libre', serif;
$headerFont: 'Proza Libre', sans-serif;
$titleFont: 'PT Sans', sans-serif;