html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Frank Ruhl Libre", serif;
  color: #0C0C0C;
  font-size: 125%;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 6rem;
}

h2 {
  font-family: "Proza Libre", sans-serif;
  font-size: 3rem;
}

h5 {
  font-family: "Proza Libre", sans-serif;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: #0C0C0C;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

img,
video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1400px;
}

header {
  background-color: #f0f7ee;
  padding: 50px 0;
}

.index-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.index-header .wrapper .fa-paw {
  rotate: -30deg;
  left: 80px;
  top: -50px;
  position: absolute;
  color: #FCBA04;
}

.header-photo {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.header-photo img {
  border-radius: 75% 50%/50%;
  -webkit-box-shadow: -8px -8px #f0f7ee, -20px -20px #DC2A27;
          box-shadow: -8px -8px #f0f7ee, -20px -20px #DC2A27;
}

h1 {
  margin: 0 0 50px 0;
  position: relative;
  z-index: 1;
}

.header-text {
  position: relative;
}
.header-text h4 {
  margin: 5px 0 0 0;
}
.header-text p {
  margin: 10px 0;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.header-info div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.fa-circle {
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0C0C0C), color-stop(50%, #F8F0C6));
  background: linear-gradient(to bottom, #0C0C0C 50%, #F8F0C6 50%);
  -webkit-background-clip: text;
          background-clip: text;
}

section {
  padding: 50px 0;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-image {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}
.about-image img {
  border-radius: 10%;
  -webkit-box-shadow: 3px 3px #fff, 12px 12px #1B998B;
          box-shadow: 3px 3px #fff, 12px 12px #1B998B;
}

.about-text {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.gallery-header .wrapper {
  position: relative;
}

.fa-bone {
  bottom: 50px;
  left: 70px;
  rotate: 35deg;
  position: absolute;
  color: #FCBA04;
}

.gallery-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timeline {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  text-align: center;
}
.timeline h3 {
  margin: 0;
  position: relative;
  top: 50px;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}
button .fa-paw {
  -webkit-text-stroke: 2px #FCBA04;
  -webkit-text-fill-color: transparent;
}
button .fa-paw:hover, button .fa-paw:focus {
  background-color: #FCBA04;
  -webkit-background-clip: text;
          background-clip: text;
}
button .paw-select,
button h3:hover ~ i, button:focus .fa-paw {
  background-color: #FCBA04;
  -webkit-background-clip: text;
          background-clip: text;
}

.gallery {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}
.gallery div {
  display: none;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery li {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}
.gallery .gallery-month img {
  -o-object-fit: contain;
     object-fit: contain;
}
.gallery .gallery-month img:hover {
  opacity: 0.7;
  cursor: pointer;
}
.gallery .div-select {
  display: block;
}
.gallery .div-up-in {
  display: block;
  -webkit-animation: slide-up-in 1s forwards, fade-in 1s forwards;
          animation: slide-up-in 1s forwards, fade-in 1s forwards;
}
.gallery .div-up-out {
  display: block;
  position: relative;
  z-index: -1;
  -webkit-animation: slide-up-out 1s forwards, fade-out 1s forwards;
          animation: slide-up-out 1s forwards, fade-out 1s forwards;
}
.gallery .div-down-in {
  display: block;
  position: relative;
  z-index: -1;
  -webkit-animation: slide-down-in 1s forwards, fade-in 1s forwards;
          animation: slide-down-in 1s forwards, fade-in 1s forwards;
}
.gallery .div-down-out {
  display: block;
  -webkit-animation: slide-down-out 1s forwards, fade-out 1s forwards;
          animation: slide-down-out 1s forwards, fade-out 1s forwards;
}

.modal-overlay {
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  background-color: #fff;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 750px;
  max-height: 100vh;
  overflow-y: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 50px;
}
.modal div {
  display: block;
}
.modal button {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-caption {
  text-align: center;
}

h5 {
  margin: 20px 0;
}

@-webkit-keyframes slide-up-in {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-102.5%);
            transform: translateY(-102.5%);
  }
}

@keyframes slide-up-in {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-102.5%);
            transform: translateY(-102.5%);
  }
}
@-webkit-keyframes slide-up-out {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes slide-up-out {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@-webkit-keyframes slide-down-in {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-down-in {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slide-down-out {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-down-out {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.button {
  padding: 10px 25px;
  background-color: #FCBA04;
}
.button:hover, .buttonfocus {
  color: #fff;
}